@page "/counter"
@using AgroConecta.Presentation.Client.Agents.Interfaces.Interfaces
@inject HttpClient Http
@inject IInitialAgent initialAgent
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>


@if (!string.IsNullOrEmpty(PdfBase64))
{
    <button @onclick="DownloadPdf">Descargar PDF</button>
    <h3>Vista previa del PDF</h3>
    <embed style="width: 100%; height: 650px;" src="@PdfSrc" title="Titulo PDF"/>
}
else
{
    <button @onclick="GenerateReport">Generar PDF</button>
}

@code {
    private string PdfBase64 = "";
    private string PdfSrc = "";

    private async Task GenerateReport()
    {
        // Generar PDF en Base64
        PdfBase64 = await initialAgent.GetDocument();
        PdfSrc = $"data:application/pdf;base64,{PdfBase64}";
        // Llamar a la función de JS para cambiar el título
        await JS.InvokeVoidAsync("waitForTitleAndChange", "Nuevo Título para el PDF");
    }
    private async Task DownloadPdf()
    {
        await JS.InvokeVoidAsync("saveAsFile", "documento.pdf", PdfBase64);
    }
}

