@using AgroConecta.Presentation.Client.Components
@using AgroConecta.Presentation.Client.Components.General
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    @*<link href="css/aos/aos.css" rel="stylesheet">*@

    @*
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    *@
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    <link href="css/application.css" rel="stylesheet"/>
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)"/>
</head>

<body>
<div class="[&>*:last-child:not(:first-child)]:hidden">
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)"/>
    <div class="loader" >
        <PantallaCarga/>

    </div>
</div>
<script src="_framework/blazor.web.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
<script src="_content/Extensions.MudBlazor.StaticInput/NavigationObserver.js"></script>
<script src="js/FileUtil.js"></script>
<script src="js/aos/aos.js"></script>
<script src="js/flowbite/flowbite.min.js" defer></script>

<script>
    function checkIfAsideIsOpen() {
        var aside = document.getElementById('drawer-navigation');
        return aside.classList.contains('transform-none');
    }
    window.initializeFlowbite = () => {
        AOS.init();
        initFlowbite();
    }
</script>
</body>

</html>
