@page "/Cuenta/Login"
@using AgroConecta.Shared.Security
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS
@inject HttpClient Http


<h3>Login</h3>
<br />
<MudText Typo="Typo.h6">Usuario</MudText>
<MudTextField @bind-Value="usuario.Email" Label="Correo electronico" Variant="Variant.Outlined"></MudTextField>
<MudText Typo="Typo.h6">Clave</MudText>
<MudTextField @bind-Value="usuario.Password" Label="Password" Variant="Variant.Outlined"></MudTextField>
<br />
<MudButton Variant="Variant.Filled" @onclick=IniciarSesion Color="Color.Primary">Ingresar</MudButton>
No esta registrado?<MudLink Href="/Cuenta/Registro">Crear una cuenta</MudLink>

@code {
    string token = null;


    UsuarioDTO usuario = new UsuarioDTO();
    async Task IniciarSesion()
    {
        var resultado = await Http.PostAsJsonAsync("api/Usuario/Login", usuario);
        token = await resultado.Content.ReadAsStringAsync();
        await JS.InvokeVoidAsync("localStorage.setItem", "Token", token);
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}