@page "/Cuenta/Registro"
@using System.Net
@using AgroConecta.Shared.Security
@inject HttpClient httpClient

<h3>Registro</h3>
<br />
<MudText Typo="Typo.h6">Usuario</MudText>
<MudTextField @bind-Value="nuevoUsuario.Email" Label="Correo electronico" Variant="Variant.Outlined"></MudTextField>
<MudText Typo="Typo.h6">Clave</MudText>
<MudTextField @bind-Value="nuevoUsuario.Password" Label="Password" Variant="Variant.Outlined"></MudTextField>
<br />
<MudButton Variant="Variant.Filled" @onclick=Registrar Color="Color.Primary">Ingresar</MudButton>
<p>@Respuesta</p>

@code {
    UsuarioDTO nuevoUsuario = new UsuarioDTO();
    string Respuesta = "Procesando...";
    async Task Registrar()
    {
        var resultado = await httpClient.PostAsJsonAsync("api/Usuario/Registrar", nuevoUsuario);
        Respuesta = await resultado.Content.ReadAsStringAsync();
    }
}