@using AgroConecta.Presentation.Client.Layout
@using AgroConecta.Shared.Security
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS
@inject HttpClient Http
@page "/Sistema/DashboardGeneral"
@layout SistemaLayout

<h3>DashboardGeneral</h3>

@code {
    
}