@using AgroConecta.Presentation.Client.Layout
@using AgroConecta.Shared.Security
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS
@inject HttpClient Http
@page "/Sistema/DashboardGeneral"
@layout SistemaLayout

<h3>DashboardGeneral</h3>
<button type="button" class="w-24 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">PRIMARY</button>

@code {
    
}