@inherits LayoutComponentBase
@inject IJSRuntime JS


<HeadContent>
    <link href="css/flowbite/flowbite.min.css" rel="stylesheet"/>
    <script src="js/flowbite/flowbite.min.js" defer></script>

</HeadContent>
<div class="landing-page">
    @Body
</div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("window.initializeFlowbite");
            await JS.InvokeVoidAsync("initcustomjs");
        }
    }
}