@inherits LayoutComponentBase
@inject IJSRuntime JS


<HeadContent>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
</HeadContent>
<div class="auth-page">
    @Body
</div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // await JS.InvokeVoidAsync("window.initializeFlowbite");
            // await JS.InvokeVoidAsync("initcustomjs");
        }
    }
}