@using AgroConecta.Presentation.Client.Components.General.Alertas
@using AgroConecta.Presentation.Client.Constantes
@using AgroConecta.Shared.Seguridad.Mensajes
@using AgroConecta.Presentation.Client.Pages.Seguridad
@using AgroConecta.Presentation.Client.Components.Seguridad
@using AgroConecta.Presentation.Client.Components.General
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<HeadContent>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
</HeadContent>
<MudThemeProvider Theme="temaActual" />
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<AuthorizeView Context="authContext">
    <Authorizing>
        <PantallaCarga/>
    </Authorizing>
    <NotAuthorized>
        <NoAutenticado/>
    </NotAuthorized>
    <Authorized>
        <MudLayout>
            <MudAppBar Elevation="1">
                <MudIconButton Icon="@(_drawerOpen ? Icons.Material.Filled.Close : Icons.Material.Filled.Menu)" Color="Color.Dark" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>

                <MudImage Src="/images/landing/LOGO-AGROCONECTA.png" Height="32" Alt="AgroConecta Logo"></MudImage>
                <MudText Color="Color.Dark" Typo="Typo.h6" Style="font-weight:bold" Class="ml-3">AgroConecta</MudText>
                <MudSpacer/>
                <MudMenu>
                    <ActivatorContent>
                        @{var emailUsuario = authContext.User.Claims.FirstOrDefault(c => c.Type == "email")?.Value;}
                        <MudAvatar Color="Color.Primary">@emailUsuario?.Substring(0,1).ToUpperInvariant()</MudAvatar>
                    </ActivatorContent>
                    <ChildContent>
                        <BtnCerrarSesion/>
                    </ChildContent>
                </MudMenu>
            </MudAppBar>
            <MudDrawer @bind-Open="@_drawerOpen" Elevation="1" ClipMode="DrawerClipMode.Always">
                @*<MudDrawerHeader>
            <MudText Typo="Typo.h6">Menú principal</MudText>
        </MudDrawerHeader>*@
                <NavMenu/>
            </MudDrawer>
            <MudMainContent Class="pt-16 px-16">
                <MudContainer Class="mt-6">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </Authorized>
</AuthorizeView>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private MessageBox _messageBox;
    private bool isNotAuthenticated;
    public TemaGeneral temaActual=new();
    

    private bool _drawerOpen = true;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
        StateHasChanged();
    }






}
